<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>KirenJewels</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>AnnoraaCreations</string>
		<string>NakodaJewellers</string>
		<string>KirenJewels</string>
		<string>MuthajiGold</string>
		<string>UniqueChains</string>
		<string>SPJ</string>
		<string>NidhiGold</string>
		<string>MMJewels</string>
		<string>JLMI</string>
		<string>AJIL</string>
		<string>PannaJewellers</string>
		<string>DGemMount</string>
		<string>VivaazJewels</string>
		<string>Purple</string>
		<string>MehtaGND</string>
		<string>SBG</string>
		<string>FineJewellery</string>
		<string>PayalGold</string>
		<string>ChainExperts</string>
		<string>Brahmand</string>
		<string>KanakRatna</string>
		<string>RRJewels</string>
		<string>KRA</string>
		<string>EleganceCreation</string>
		<string>Saaz</string>
		<string>JewelFlowV4Final</string>
		<string>JewelSmith</string>
		<string>Ranka</string>
		<string>Vasupati</string>
		<string>Shankesh</string>
		<string>Anja</string>
		<string>BharatiJewellers</string>
		<string>Kalash</string>
		<string>Bhandari</string>
		<string>Skgemsjewels</string>
		<string>SundaramChains</string>
		<string>Copl</string>
		<string>Dharmesh</string>
		<string>SKSeth</string>
		<string>Swarnship</string>
		<string>RuchitaChains</string>
		<string>DevJewellers</string>
		<string>Dnk</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
